.coworking-title {
  font-size: 1.2rem;
}

.coworking-card {
  height: 150px;
}

.coworking-image {
}

.image-swiper {
  width: 120px;
  height: 120px;
}

.coworking-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.badge-networking {
  background-color: limegreen;
  width: 90px;
  height: auto;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1px;
}

.book-button {
  align-self: baseline;
}

/* .popup-button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
} */

.popover-content {
  text-align: center;
  text-transform: capitalize;
}
